/* RESET
============================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInLeft {
  animation-name: slideInLeft; }

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInRight {
  animation-name: slideInRight; }

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0); } }

.slideOutLeft {
  animation-name: slideOutLeft; }

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0); } }

.slideOutRight {
  animation-name: slideOutRight; }

.carousel-title {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin: 20px auto;
  text-align: center; }

.carousel {
  height: 450px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%; }
  .carousel img {
    margin-top: -12%;
    width: 100%; }
  .carousel .carousel-viewer {
    background-size: 100%;
    background-position: center center;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    z-index: 2; }
  .carousel .carousel-arrow {
    color: white;
    opacity: .3;
    position: absolute;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    top: 40%;
    transition: all .3s;
    z-index: 3; }
    .carousel .carousel-arrow:hover {
      cursor: pointer;
      opacity: .6; }
    .carousel .carousel-arrow.left {
      left: 24px; }
    .carousel .carousel-arrow.right {
      right: 24px; }

.carousel-breadcrumb {
  bottom: 10px;
  position: absolute;
  width: 100%;
  z-index: 3; }
  .carousel-breadcrumb li {
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.24);
    display: inline-block;
    height: 12px;
    margin: 0 5px;
    transition: all .3s;
    width: 12px; }
    .carousel-breadcrumb li:hover {
      background: white;
      cursor: pointer;
      opacity: .4; }
    .carousel-breadcrumb li.active {
      background: white; }
